%html
  %head
  %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border: 0;", :width => "600"}
      %tbody
        %tr
          %td{:align => "center", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
            / BEGIN HEADER //
            %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #FFFFFF;border-top: 0;border-bottom: 2px solid #F2F2F2;", :width => "600"}
              %tbody
                %tr
                  %td.headerContainer{:style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                    %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                      %tbody.mcnImageBlockOuter
                        %tr
                          %td.mcnImageBlockInner{:style => "", :valign => "top"}
                            %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                              %tbody
                                %tr
                                  %td.mcnImageContent{:style => "padding-right: 0px;padding-left: 0px;padding-top: 0;padding-bottom: 0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                    %img.mcnImage{:align => "left", :alt => "qjitsu-large-logo.png", :src => "#{root_url}assets/qjitsu-large-logo.png", :style => "max-width: 1014px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;", :width => "600"}
            / // END HEADER
        %tr
          %td{:align => "center", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
            / BEGIN BODY //
            %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #FFFFFF;border-top: 0;border-bottom: 2px solid #F2F2F2;", :width => "600"}
              %tbody
                %tr
                  %td.bodyContainer{:style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                    %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                      %tbody.mcnTextBlockOuter
                        %tr
                          %td.mcnTextBlockInner{:style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                            %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "600"}
                              %tbody
                                %tr
                                  %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                    %h2{:style => "display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.75px;margin: 0;text-align: left;color: #404040 !important;"}
                                      %span{:style => "color:#2a6ffb;"} You have been invited to join Qjitsu!
                                    %h3{:style => "display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.5px;margin: 0;text-align: left;color: #606060 !important;"}
                                      %font{:color => "#666666"} Social, collaborative way to train for medical exams
                                    %p{:style => "color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}
                                      Hi,
                                      %br
                                        %br
                                          You have been invited by  
                                          = @sender.full_name
                                          to join Qjitsu to start your medical exam training.
                    %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                      %tbody.mcnButtonBlockOuter
                        %tr
                          %td.mcnButtonBlockInner{:align => "center", :style => "padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                            %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color: #F77542;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                              %tbody
                                %tr
                                  %td.mcnButtonContent{:align => "center", :style => "font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 14px;padding: 15px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "middle"}
                                    %a.mcnButton{:href => "#{new_user_registration_url(:invitation_token=>@user.invitation_token)}", :style => "font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;word-wrap: break-word !important;", :target => "_self", :title => "Accept the challenge!"} Accept the challenge!
                    %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                      %tbody.mcnTextBlockOuter
                        %tr
                          %td.mcnTextBlockInner{:style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                            %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "600"}
                              %tbody
                                %tr
                                  %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                    You can also copy and paste the following URL into your browser's address bar to join:
                                    %br
                                      %br                                      
                                        = new_user_registration_url(:invitation_token=>@user.invitation_token)
                                        %br
                                          %br
                                            Good luck with your training!
                                            %br
                                              %br
                                                %em The Qjitsu Team
            / // END BODY
        %tr
          %td{:align => "center", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
            / BEGIN FOOTER //
            %table#templateFooter{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "600"}
              %tbody
                %tr
                  %td.footerContainer{:style => "padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                    %table.mcnFollowBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                      %tbody.mcnFollowBlockOuter
                        %tr
                          %td.mcnFollowBlockInner{:align => "center", :style => "padding: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                            %table.mcnFollowContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:align => "center", :style => "padding-left: 9px;padding-right: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                                    %table.mcnFollowContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #FFFFF0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                                      %tbody
                                        %tr
                                          %td{:style => "padding-top: 9px;padding-right: 9px;padding-left: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                            %table.mcnFollowStacked{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                                              %tbody
                                                %tr
                                                  %td.mcnFollowIconContent{:align => "center", :style => "padding-right: 10px;padding-bottom: 5px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "https://twitter.com/qjitsu", :style => "word-wrap: break-word !important;", :target => "_blank"}
                                                      %img.mcnFollowBlockIcon{:alt => "Twitter", :src => "#{root_url}assets/color-twitter-128.png", :style => "width: 48px;max-width: 48px;display: block;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;", :width => "48"}/
                                                %tr
                                                  %td.mcnFollowTextContent{:align => "center", :style => "padding-right: 10px;padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "https://twitter.com/qjitsu", :style => "color: #2A6FFB;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;word-wrap: break-word !important;", :target => "_blank"} Twitter
                                            %table.mcnFollowStacked{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                                              %tbody
                                                %tr
                                                  %td.mcnFollowIconContent{:align => "center", :style => "padding-right: 10px;padding-bottom: 5px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "http://www.linkedin.com/company/qjitsu", :style => "word-wrap: break-word !important;", :target => "_blank"}
                                                      %img.mcnFollowBlockIcon{:alt => "LinkedIn", :src => "#{root_url}assets/color-linkedin-128.png", :style => "width: 48px;max-width: 48px;display: block;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;", :width => "48"}/
                                                %tr
                                                  %td.mcnFollowTextContent{:align => "center", :style => "padding-right: 10px;padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "http://www.linkedin.com/company/qjitsu", :style => "color: #2A6FFB;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;word-wrap: break-word !important;", :target => "_blank"} LinkedIn
                                            %table.mcnFollowStacked{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;"}
                                              %tbody
                                                %tr
                                                  %td.mcnFollowIconContent{:align => "center", :style => "padding-right: 0;padding-bottom: 5px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "http://www.youtube.com/channel/UC7tXgJzdOc30Pwe4PV5Fr4Q", :style => "word-wrap: break-word !important;", :target => "_blank"}
                                                      %img.mcnFollowBlockIcon{:alt => "YouTube", :src => "#{root_url}assets/color-youtube-128.png", :style => "width: 48px;max-width: 48px;display: block;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;", :width => "48"}/
                                                %tr
                                                  %td.mcnFollowTextContent{:align => "center", :style => "padding-right: 0;padding-bottom: 9px;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;", :valign => "top"}
                                                    %a{:href => "http://www.youtube.com/channel/UC7tXgJzdOc30Pwe4PV5Fr4Q", :style => "color: #2A6FFB;font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;word-wrap: break-word !important;", :target => "_blank"} YouTube
            / // END FOOTER
 