%table.table
  %caption
    %h5{:style=>"text-align: left"} Patients Overviews:
  %thead
    %th Age
    %th Gender
    %th Race
    %th Chief Complaint
  %tbody
    %td= @medical_case.age
    %td= @medical_case.gender
    %td= @medical_case.race
    %td= @medical_case.chief_complaint
%hr
%h5 HPI
%p
  = @medical_case.history_of_present_illness

%hr

%table.table
  %tbody
    %tr
      %th Medication
      %th Past Medical history
    %tr
      %td= @medical_case.medical_history.medication unless @medical_case.medical_history.nil?
      %td= @medical_case.medical_history.past_medical_history
    %tr
      %th Allergies
      %th Family history
    %tr
      %td= @medical_case.medical_history.allergies
      %td= @medical_case.medical_history.family_history
%hr

%h5 ROS
%p
  some paragraps
%hr

%table.table
  %caption
    %h5{:style=>"text-align: left"} Vitals
  %thead
    %th Temperature
    %th Hear Rate
    %th Blood Pressure
    %th Respiratory Rate
    %th Sp02
  %tbody
    %td= @medical_case.review.temperature
    %td= @medical_case.review.heart_rate
    %td= @medical_case.review.blood_pressure
    %td= @medical_case.review.respiratory_rate
    %td= @medical_case.review.spo2

%h5 Physical Exam Description
%p=@medical_case.review.physical_exam_description

%h5 Abdominal Exam
- @medical_case.review.specific_exam_details.each do |pexam|
  %p= pexam.exam

%hr

%table.table
  %caption
    %h5{:style=>"text-align: left"} Labs
  %tbody
    %tr
      - @medical_case.labs.each_with_index do |x, i|
        %th= x.name
    %tr
      - @medical_case.labs.each_with_index do |x, i|
        %td= x.result

%hr

%table.table
  %caption
    %h5{:style=>"text-align: left"} Imagings
  %tbody
    %tr
      - @medical_case.imagings.each_with_index do |x, i|
        %th= x.name
    %tr
      - @medical_case.imagings.each_with_index do |x, i|
        %td= x.result

%hr

%table.table
  %caption
    %h5{:style=>"text-align: left"} Other Studies
  %tbody
    %tr
      - @medical_case.other_studies.each_with_index do |x, i|
        %th= x.name
    %tr
      - @medical_case.other_studies.each_with_index do |x, i|
        %td= x.result
